# Database 
MONGODB_URI="mongodb://localhost:27017/nexus_bank"

# JWT 
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRY="30m"
JWT_REFRESH_EXPIRY="7d"

# APP 
PORT=3000
NODE_ENV="development"
