# Database 
MONGODB_URI="mongodb://localhost:27017/nexus_bank"

# JWT 
JWT_ACCESS_SECRET="a8f9c3e7b1d24f6a9c8e5b7d3f1a6c2e4b9d7f8a1c3e5b6d9f2a4c7e8b1d3f6"
JWT_REFRESH_SECRET="f7c2a9d4b8e1c6f3a5d9b2e7c4a1f8d6e3b9c5a7d2f1e4c8b6a9d3f7e2c1b5"
JWT_ACCESS_EXPIRY="60m"
JWT_REFRESH_EXPIRY="7d"

# APP 
PORT=3000
NODE_ENV="development"
